.rounds {
  padding-top: 5%;
  border: solid 1px #eee;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable tr {
  border-bottom: solid 1px #eee;
}

.dataTable td {
  padding: 0.8em;
  font-weight: bolder;
}

.dataTable td.tableValue {
  text-align: right;
}

.dataTable thead tr {
  background-color: #eee;
}

.dataTable thead td:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.dataTable thead td:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.rounds button {
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  width: 45%;
  font-weight: bolder;
}

.rounds button.saveButton {
  background-color: darkorange;
  color: #eee;
  text-transform: uppercase;
}
