/* box-sizing reset */
.container {
  box-sizing: border-box;
}

:is(*, *:before, *:after) {
  box-sizing: inherit;
}

/* styles */
.container {
  width: 100vw;
  height: 100vh;
  min-width: 250px;
  max-width: 420px;
  color: #555;
  font-size: 1.5rem;

  /* flex-container */
  display: flex;
  flex-direction: column;
}
